<h1>Bienvenue</h1>
<p>Ceci est ma première variable : <%= @variable %>.</p>

<% if @variable == 42 %>
  <h3>Super, la variable vaut 42 !</h3>
  <% else %>
    Mince, la variable ne vaut pas 42 !
  <% end %>

<h1>Bienvenue !</h1>
<p>Ceci est ma première variable : <%= @variable %>.</p>
<% @variable.times do |i| %>
  <%= i %>
<% end %>